* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;

}

h3 {
	display: flex;
	color: rgb(255, 7, 7);
	font-size: 30px;
	justify-content: center;
	align-items: center;
	font-size: large;
}

.text_up {
	height: 800px;
}

.text_down {
	height: 500px;
}

.image_up {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(src/perro1.webp);
	background-repeat: no-repeat;
	height: 100%;
}

.black_box {
	background-color: black;
	height: 100%;
	background-size: cover;
}

.image_down {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(src/perro2.webp);
	background-repeat: no-repeat;
	height: 100%;
}